body {
  font-family: "Poppins" !important;
}
.primaryColor {
  color: #036068;
}
.primaryColorLight {
  color: #77aeb3;
}
.colorWhite {
  color: white;
}
.colorBlack {
  color: #212529;
}
.primaryBGColor {
  background-color: #036068;
}
.fontSize3vmin {
  font-size: 3vmin;
}
.fontSize4vmin {
  font-size: 4vmin;
}
.fontSize5vmin {
  font-size: 5vmin;
}
.fontSize12 {
  font-size: 12px;
}
.fontSize15 {
  font-size: 15px;
}
.fontSize20 {
  font-size: 20px;
}
.fontSize25 {
  font-size: 25px;
}
.fontSize30 {
  font-size: 30px;
}
.width70pc {
  width: 70%;
}
.width80pc {
  width: 80%;
}
.width85pc {
  width: 85%;
}
.width100pc {
  width: 100%;
}
.width10px {
  width: 10px;
}
.width20px {
  width: 20px;
}
.width35px {
  width: 35px;
}
.width50px {
  width: 50px;
}
.width70px {
  width: 70px;
}
.width100px {
  width: 100px;
}
.width150px {
  width: 150px;
}
.width200px {
  width: 200px;
}
.width220px {
  width: 220px;
}
.minWidth120 {
  min-width: 120px;
}
.paddingBottom10 {
  padding-bottom: 10px;
}
.paddingBottom20 {
  padding-bottom: 20px;
}

.marginLeft10 {
  margin-left: 10px;
}
.marginTop10 {
  margin-top: 10px !important;
}
.marginTop20 {
  margin-top: 20px !important;
}
.marginTop30 {
  margin-top: 30px !important;
}
.marginTop50 {
  margin-top: 50px;
}
.marginTop100 {
  margin-top: 100px !important;
}
.marginTop150 {
  margin-top: 150px !important;
}
.marginTop200 {
  margin-top: 200px !important;
}
.marginBottom50 {
  margin-bottom: 50px !important;
}
.transition {
  transition: 0.3s;
}
.overflowScroll {
  overflow: scroll;
}
.overflowHidden {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}

.hoverShadow:hover {
  box-shadow: 2px 2px 2px #0360689b;
}
.imageHover:hover {
  transition: 0.3s;
  border-radius: 100px;
  border: solid 2px #26a2ad;
}
.imageHover:active {
  transition: 0.3s;
  padding: 2px;
  border-radius: 100px;
  border: solid 2px #26a2ad;
}
.clickHoverEffect {
  cursor: pointer;
}
.clickHoverEffect:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
.clickHoverEffect:active {
  transition: 0.3s;
  transform: scale(0.9);
}
.customButton {
  border: none;
  border-radius: 100px;
}
.customButton:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.457);
}
.customButton:active {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.457);
}
.flex {
  display: flex;
}
.flexDirectionRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexDirectionRowSpace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flexDirectionRowSpaceAround {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.right {
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}
.left {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}
.textCapitalize {
  text-transform: capitalize;
}
.sliderSection {
  border-radius: 40px !important;
  padding-inline: 10px;
  overflow: hidden;
  border: solid 1px #036068 !important;
  /* height: 400px; */
  /* justify-content: center; */
  /* align-items: center; */
}
.anchorTag {
  text-decoration: none;
  color: white;
}

.overflowHide {
  overflow: hidden;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.marginLeft100 {
  margin-left: -100px !important;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.verdanaFont {
  font-family: Verdana;
}
@media (max-width: 975px) {
  .padding0Mobile {
    padding: 0 !important;
  }
  .columnReverseMobile {
    display: flex;
    flex-direction: column-reverse;
  }
  .centerPhone {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .columnFlexMobile {
    display: flex;
    flex-direction: column;
  }
  .mobileMarginTop0 {
    margin-top: 0px !important;
  }
  .mobileMarginTop50 {
    margin-top: 50px !important;
  }
  .mobileMarginTop20 {
    margin-top: 20px !important;
  }
  .mobileMarginTop10 {
    margin-top: 10px !important;
  }
  .marginBottomMobile50 {
    margin-bottom: 50px !important;
  }
}
@media (max-width: 768px) {
  .width100pcMobile {
    width: 100% !important;
  }
  .mobileViewColumn {
    flex-direction: column;
    align-items: flex-start;
  }
  .marginLeft100 {
    margin-left: 0px !important;
  }
}
